<footer class="footer-distributed">

      <div class="footer-left">

        <h3>Facultad<span>Informatica</span></h3>
        <p class="footer-links">
          <a href="#">Inicio</a>
          ·
          <a href="#">Sobre nosotros</a>
          ·
          <a href="#">Contacto</a>
        </p>
        <p class="footer-company-name">Itt &copy; 2017</p>
      </div>

      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Calle 50</span> La Plata, Buenos Aires</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>221 4634523</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">itt@contacto.com.ar</a></p>
        </div>
      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>Sobre la pagina</span>
         Desarrollado por Marcos y Johana, para la catedra de Taller de Tecnologias de Produccion de Software.
        </p>

        <div class="footer-icons">
          <a href="#"><i ><md-icon>search</md-icon></i></a>
          <a href="#"><i ><md-icon>home</md-icon></i></a>
          <a href="#"><i ><md-icon>face</md-icon></i></a>
          <a href="#"><i ><md-icon>search</md-icon></i></a>
        </div>
      </div>
    </footer>