<app-navbar></app-navbar>

<!--The content below is only a placeholder and can be replaced.-->
<div class="inicio-secciones">
  <h1>
    Ultimas novedades
  </h1>
  <md-grid-list cols="3" rowHeight="2:2">
    <md-grid-tile>1
      <md-grid-tile-footer>Novedad uno</md-grid-tile-footer> 
    </md-grid-tile>
    
    <md-grid-tile>2
      <md-grid-tile-footer>Novedad dos</md-grid-tile-footer> 
    </md-grid-tile>
    
    <md-grid-tile>3
      <md-grid-tile-footer>Novedad tres</md-grid-tile-footer> 
    </md-grid-tile>
  </md-grid-list>


  <div class="example-button-row">  
    <a md-fab routerLink="."><md-icon>add circle</md-icon></a>
  </div>

</div>

  
<div class="inicio-admin">
  <h1>
    Administracion
  </h1>

  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Shiba Inu</md-card-title>
      <md-card-subtitle>Teresa de Calcuta</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/tere.jpg">
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</div>

<div class="inicio-secciones">
  <h1>
    Postgrado
  </h1>
   <md-grid-list cols="3" rowHeight="2:1">
    <md-grid-tile>1
      <md-grid-tile-footer>Novedad uno</md-grid-tile-footer> 
    </md-grid-tile>
    
    <md-grid-tile>2
      <md-grid-tile-footer>Novedad dos</md-grid-tile-footer> 
    </md-grid-tile>
    
    <md-grid-tile>3
      <md-grid-tile-footer>Novedad tres</md-grid-tile-footer> 
    </md-grid-tile>
  </md-grid-list>
</div>


<div class="inicio-secciones">
  <h1>
    CEFI
  </h1>
   <md-grid-list cols="3" rowHeight="1:1">
    <md-grid-tile>1
      <md-grid-tile-footer>Novedad uno</md-grid-tile-footer> 
    </md-grid-tile>
    
    <md-grid-tile>2
      <md-grid-tile-footer>Novedad dos</md-grid-tile-footer> 
    </md-grid-tile>
    
    <md-grid-tile>3
      <md-grid-tile-footer>Novedad tres</md-grid-tile-footer> 
    </md-grid-tile>
  </md-grid-list>
</div>

<app-footer></app-footer>
